<?xml version="1.0"?>
<robot name="killer_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <gazebo reference="back_left">
    <material>
      Gazebo/Blue
    </material>
  </gazebo>

  <gazebo reference="back_right">
    <material>
      Gazebo/Red
    </material>
  </gazebo>

  <gazebo reference="front_right">
    <material>
      Gazebo/Gold
    </material>
  </gazebo>


<gazebo reference="front_left">
    <material>
      Gazebo/GoldGlow
    </material>
  </gazebo>


  <gazebo reference="chassis">
    <material>
        Gazebo/Green
    </material>
  </gazebo>

  <gazebo>
    <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
      <updateRate>100.0</updateRate>
      <robotNamespace>/</robotNamespace>
      <leftFrontJoint>front_left_joint</leftFrontJoint>
      <rightFrontJoint>front_right_joint</rightFrontJoint>
      <leftRearJoint>back_left_joint</leftRearJoint>
      <rightRearJoint>back_right_joint</rightRearJoint>
      <wheelSeparation>0.75</wheelSeparation>
      <wheelDiameter>${0.2*2}</wheelDiameter>
      <robotBaseFrame>chassis</robotBaseFrame>
      <torque>20</torque>
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <covariance_x>0.0001</covariance_x>
      <covariance_y>0.0001</covariance_y>
      <covariance_yaw>0.01</covariance_yaw>
      <broadcastTF>false</broadcastTF>
    </plugin>
  </gazebo>


</robot>