<?xml version="1.0"?>




<robot name="killer_robot" xmlns:xacro = "https://www.ros.org/wiki/xacro">
    <link name="chassis">
        <pose>0 0 0.25 0 0 0</pose>
        <inertial>
            <origin xyz="0 0 0.25" rpy="0 0 0"/>
            <mass value="10"/>
            <inertia ixx="0.046875" ixy="0" ixz="0" iyy="0.11354" iyz="0" izz="0.14167"/>
        </inertial>

        <collision name = "chassis_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="2 0.7 0.15"/>
            </geometry>
        </collision>

        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="2 0.7 0.15"/>
            </geometry>
            <material name="orange">
                <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
            </material> 
        </visual>                
    </link>

    <xacro:include filename='$(find exp10-robot)/urdf/materials.xacro'/>
    <xacro:include filename="$(find exp10-robot)/urdf/macros.xacro"/>
    
    <xacro:wheel_link link_name="right_front"/>
    <xacro:wheel_link link_name= "left_front"/>
    <xacro:wheel_link link_name="right_back"/>
    <xacro:wheel_link link_name="left_back"/>
    
    
    <xacro:joint_link joint_name="right_front_joint" child="right_front" origin_xyz="1 0.375 0"/>
    <xacro:joint_link joint_name="left_front_joint" child="left_front" origin_xyz="1 -0.375 0"/>
    <xacro:joint_link joint_name="right_back_joint" child="right_back" origin_xyz="-1 0.375 0"/>
    <xacro:joint_link joint_name="left_back_joint" child="left_back" origin_xyz="-1 -0.375 0"/>


</robot>