<?xml version="1.0"?>




<robot name="killer_robot" xmlns:xacro = "https://www.ros.org/wiki/xacro">
    <link name="chassis">

        <inertial>
            <origin xyz="0 0 0.25" rpy="0 0 0"/>
            <mass value="10"/>
            <inertia ixx="0.046875" ixy="0" ixz="0" iyy="0.11354" iyz="0" izz="0.14167"/>
        </inertial>

        <collision name = "chassis_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="2 0.7 0.15"/>
            </geometry>
        </collision>

        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="2 0.7 0.15"/>
            </geometry>
            <material name="orange">
                <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
            </material> 
        </visual>                
    </link>

    <xacro:include filename="$(find exp10-robot)/urdf/macros.xacro"/>
    
    <xacro:wheel_link link_name="front_right"/>
    <xacro:wheel_link link_name="front_left"/>
    <xacro:wheel_link link_name="back_right"/>
    <xacro:wheel_link link_name="back_left"/>
    
    
    <xacro:joint_link joint_name="front_right_joint" child="front_right" origin_xyz="1 0.375 0"/>
    <xacro:joint_link joint_name="front_left_joint"  child="front_left"  origin_xyz="1 -0.375 0"/>
    <xacro:joint_link joint_name="back_left_joint"   child="back_left"   origin_xyz="-1 0.375 0"/>
    <xacro:joint_link joint_name="back_right_joint"  child="back_right"  origin_xyz="-1 -0.375 0"/>

    <xacro:include filename='$(find exp10-robot)/urdf/materials.xacro'/>


</robot>