<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <param name="robot_description" command="$(find xacro)/xacro $(find robolab_mini_project)/urdf/four_wheel_bot.xacro" />


    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model four_wheel_bot" />

</launch>
