<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- We resume the logic in gazebo_ros package empty_world.launch, -->
  <param name="robot_description" command="$(find xacro)/xacro $(find ohno)/urdf/robo.xacro"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find autorickshaw)/worlds/ddrobot.world"/>    -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
  </include>

  <!-- Spawn dd_robot into Gazebo -->

  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param robot_description -urdf -model robo_name"
    output="screen" />
</launch>